html, body {
    background-image: url('https://i.pinimg.com/originals/97/dd/18/97dd188967e04be36f5cb0ec5839dd25.jpg');
    color: white !important;
}

.RU-Title {
    text-align: center;
    margin-bottom: 80px;
}

.RU-Box {
    border: 1px solid white !important;
    background-color: grey !important;
    padding: 5px;
    margin-bottom: 50px;
    margin-left: 15px;
}